shaper-data.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:shaper="http://www.comics.unina.it/nc/shaper" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="/home/laura/libnetconf/lnctool/rnglib//relaxng-lib.rng"/><start><element name="data"><interleave><grammar ns="http://www.comics.unina.it/nc/shaper"><start><optional><element name="shaper:shaper"><zeroOrMore><element name="shaper:qdisc"><element name="shaper:interface"><data type="string"/></element><interleave><element name="shaper:bandwidth"><data type="long"/></element><zeroOrMore><element name="shaper:class"><element name="shaper:id"><data type="int"/></element><interleave><optional><element name="shaper:prio"><data type="long"/></element></optional><element name="shaper:rate"><data type="long"/></element><optional><element name="shaper:ceil"><data type="long"/></element></optional><optional><element name="shaper:burst"><data type="long"/></element></optional><optional><element name="shaper:cburst"><data type="long"/></element></optional><zeroOrMore><element name="shaper:filter"><element name="shaper:id"><data type="int"/></element><interleave><optional><element name="shaper:protocol"><data type="string"/></element></optional><optional><element name="shaper:source"><data type="string"/></element></optional><optional><element name="shaper:destination"><data type="string"/></element></optional><optional><element name="shaper:sourcePort"><data type="short"/></element></optional><optional><element name="shaper:destinationPort"><data type="short"/></element></optional><optional><element name="shaper:packetMark"><data type="short"/></element></optional></interleave></element></zeroOrMore></interleave></element></zeroOrMore></interleave></element></zeroOrMore></element></optional></start></grammar></interleave></element></start></grammar>
